<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mitos y realidades</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondo-mitos">

  <ion-card>
    <img alt="Silhouette of mountains" src="../assets/icon/ejercicio.png" />
    <ion-card-content>
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="6">
            <ion-card-header>
              <ion-card-title>Mito</ion-card-title>
            </ion-card-header>
            Las personas con epilepsia no pueden hacer ejercicio.
          </ion-col>
          <ion-col size="6" class="ion-align-items-center">
            <ion-card-header>
              <ion-card-title>Realidad</ion-card-title>
            </ion-card-header>
            Con cuidados adecuados, sí pueden mantenerse activas.
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="../assets/icon/suelo.png" />
    <ion-card-content>
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="6">
            <ion-card-header>
              <ion-card-title>Mito</ion-card-title>
            </ion-card-header>
            Todas las personas con epilpsia siempre sufre de convulsiones.
          </ion-col>
          <ion-col size="6" class="ion-align-items-center">
            <ion-card-header>
              <ion-card-title>Realidad</ion-card-title>
            </ion-card-header>
            Algunas crisis no involucran movimientos, solo confusión o mirada fija.
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="../assets/icon/mental.png" />
    <ion-card-content>
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="6">
            <ion-card-header>
              <ion-card-title>Mito</ion-card-title>
            </ion-card-header>
            Es una enfermedad mental.
          </ion-col>
          <ion-col size="6" class="ion-align-items-center">
            <ion-card-header>
              <ion-card-title>Realidad</ion-card-title>
            </ion-card-header>
            Es un trastorno neurológico, no mental.
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img alt="Persona ayudando durante una crisis" src="../assets/icon/espacio.png" />
    <ion-card-content>
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="6">
            <ion-card-header>
              <ion-card-title>Mito</ion-card-title>
            </ion-card-header>
            Durante una crisis epiléptica, debes sujetar a la persona para que no se lastime.
          </ion-col>
          <ion-col size="6">
            <ion-card-header>
              <ion-card-title>Realidad</ion-card-title>
            </ion-card-header>
            Nunca debes sujetar ni restringir. Solo coloca algo suave bajo su cabeza y espera que pase.
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <img alt="Persona con epilepsia en una oficina" src="../assets/icon/trabajo.png" />
    <ion-card-content>
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="6">
            <ion-card-header>
              <ion-card-title>Mito</ion-card-title>
            </ion-card-header>
            Las personas con epilepsia no pueden trabajar.
          </ion-col>
          <ion-col size="6">
            <ion-card-header>
              <ion-card-title>Realidad</ion-card-title>
            </ion-card-header>
            Pueden trabajar y estudiar como cualquier persona, siempre que estén controladas.
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <img alt="Persona con epilepsia siendo madre" src="../assets/icon/mama.png" />
    <ion-card-content>
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="6">
            <ion-card-header>
              <ion-card-title>Mito</ion-card-title>
            </ion-card-header>
            Las mujeres con epilepsia no pueden tener hijos.
          </ion-col>
          <ion-col size="6">
            <ion-card-header>
              <ion-card-title>Realidad</ion-card-title>
            </ion-card-header>
            Sí pueden embarazarse y ser madres con seguimiento médico adecuado.
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  

</ion-content>
