<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>info General</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondo-info">

  <ion-card>
    <ion-card-header>
      <ion-card-title>¿Qué es la epilepsia?</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="8">
            Es una condición neurológica que provoca crisis o convulsiones debido
            a una actividad anormal en el cerebro. No es contagiosa y muchas personas
            pueden llevar una vida normal con tratamiento adecuado.
          </ion-col>
          <ion-col size="4" class="ion-text-end">
            <img
              src="https://ionicframework.com/docs/img/demos/card-media.png"
              alt="Epilepsia"
              style="width: 100%; height: auto; border-radius: 10px;" />
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Tipos de crisis epilépticas:</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="4" class="ion-text-end">
            <img
              src="https://ionicframework.com/docs/img/demos/card-media.png"
              alt="Epilepsia"
              style="width: 100%; height: auto; border-radius: 10px;" />
          </ion-col>
          <ion-col size="8">
            Crisis focales:
            <p class="sangria">Afectan una parte del cerebro. La persona puede estar consciente o no. <br /></p>
            Crisis generalizadas:
            <p class="sangria">Afectan todo el cerebro. Suelen provocar pérdida del conocimiento y movimientos involuntarios.</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Causas y factores de riesgo:</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="8">
            Lesiones en la cabeza<br />
            Genética<br />
            Infecciones cerebrales<br />
            Problemas durante el nacimiento<br />
            Tumores o enfermedades del sistema nervioso
          </ion-col>
          <ion-col size="4" class="ion-text-end">
            <img
              src="https://ionicframework.com/docs/img/demos/card-media.png"
              alt="Epilepsia"
              style="width: 100%; height: auto; border-radius: 10px;" />
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>¿Qué es un aura epiléptica?</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="4" class="ion-text-end">
            <img
              src="https://ionicframework.com/docs/img/demos/card-media.png"
              alt="Epilepsia"
              style="width: 100%; height: auto; border-radius: 10px;" />
          </ion-col>
          <ion-col size="8">
            Es una especie de “aviso” antes de una crisis. <br />
            Algunas personas sienten mareo, confusión, olores raros o sensaciones extrañas.
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>
