::ng-deep .select-popover {
    white-space: normal !important;
    overflow: visible !important;
    text-overflow: unset !important;
    --width: center;
    --max-width: 100%;
    --min-width: 350px;
  }

ion-modal {
  --height: 90%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal::part(backdrop) {
  background: rgb(172, 192, 224);
  opacity: 1;
}

ion-modal ion-toolbar {
  --background: rgb(14 116 144);
  --color: white;
}