<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="info">
      <ion-icon name="information-circle-outline"></ion-icon>
      <ion-label>Información</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="sintomas-y-diagnosticos">
      <ion-icon name="medkit-outline"></ion-icon>
      <ion-label>Síntomas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="primeros-auxilios">
      <ion-icon name="bandage-outline"></ion-icon>
      <ion-label>Primeros Auxilios</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mitos-y-realidades">
      <ion-icon name="help-circle-outline"></ion-icon>
      <ion-label>Mitos y Realidades</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

