/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";
ion-content.fondo-home {
  --background: url('../src/assets/icon/EpicCare.png') no-repeat center calc(90%) / contain;
}
ion-content.fondo-info {
  --background: url('../src/assets/icon/fondo1.png') no-repeat center calc(90%) / contain;
}
ion-content.fondo-sintomas {
  --background: url('../src/assets/icon/fondo2.png') no-repeat center calc(90%) / contain;
}
ion-content.fondo-aux {
  --background: url('../src/assets/icon/fondo3.png') no-repeat center calc(90%) / contain;
}
ion-content.fondo-mitos {
  --background: url('../src/assets/icon/fondo4.png') no-repeat center calc(90%) / contain;
}

ion-card {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.149);
  color: #ffffff;
}

ion-card:nth-child(1) {
  background: #b9d091d4;
}

ion-card:nth-child(2) {
  background: #f6e0b5d2;
}

ion-card:nth-child(3) {
  background: #6c7a94d3;
}

ion-card:nth-child(4) {
  background: #d89880c8;
}

ion-card:nth-child(1) ion-card-title {
  color: #698719;
}

ion-card:nth-child(2) ion-card-title {
  color: #c3800d;
}

ion-card:nth-child(3) ion-card-title {
  color: #14326f;
}

ion-card:nth-child(4) ion-card-title {
  color: #a34123;
}
